.btn {
  border-radius: 44px;
  text-align: center;
  margin: 0 auto;
}

.card-cont {
  border-radius: 15px;
  min-width: 240px;
  margin-top: 80px;
  padding: 20px 5px;
  text-align: center;
  box-shadow: -0px 5px 6px grey;
}

.img {
  max-width: 200px;
}